continuent-monitors-zabbix:
  lookup:
    config:
{% if 'ton' in grains['id'] or 'tdc' in grains['id'] %}
      dataservice_opts: '-s tdc'
{% elif 'slc' in grains['id'] %}
      dataservice_opts: '-s slc'
{% endif %}
{% if 'con' in grains['id'] %}
      service_opts: '-c'
{% elif 'db' in grains['id'] %}
      service_opts: '-r'
{% endif %}
